body, html {
	width: 100%;
	height: 100%;
}

body {
    font-family: 'hackregular', monospace;
	text-align: center;
	margin: 0;
	color: #333;
	min-height: 100%;
	position: relative;
	width: 100%;
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

header {
	text-align: center;
}

#avatar {
	border: 3px solid #36465d;
}

.header-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	width: 100%;
	padding-top: 100px;
	color: white;
}

.subtitle {
	font-size: 1.5em;
	font-weight: bold;
}

.social-icon :HOVER
.social-icon-background {
	color: white;
}

.social-icon-foreground {
	color: white;
}

.social-icon-foreground:HOVER {
	color: black;
}

.social-icon-github {
	color: #24292e;
}

.social-icon-twitter {
	color: rgb(29, 161, 242);
}

.social-icon-mail, .social-icon-google {
	color: #d73d32;
}

.social-icon-telegram {
	color: #32afed;
}

.social-icon-linkedin {
	color: #0073b0;
}

.social-icon-instagram {
	color: #cd486b;
}

.social-icon-flickr {
    color: #151517;
}

.basic-info h1 {
	font-weight: bold;
}

.btn-xl,
.btn-xl:ACTIVE, 
.btn-xl:FOCUS {
	color: white;
	background-color: #36465d;
	border: none;
	border-radius: 20px;
}

.btn-xl:HOVER {
	background-color: #3b5998;
	color: white;
	border: none;
}

