a {
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #36465d;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
	margin: 0;
	color: #333;
}

header {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	position: relative;
	width: 100%;
	text-align: center;
}

#main-nav {
	background-color: transparent;
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-bottom-width: 2px;
}

#main-nav.affix {
	background-color: white;
	border-bottom-color: ligth-grey;
}

.navbar-default.affix .navbar-header .navbar-brand {
	color: #36465d !important;
}

.navbar-devault .navbar-header .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    font-weight: bold;
}

.navbar-default.affix-top .navbar-header .navbar-brand, 
.navbar-default.affix-top .navbar-nav > li > a {
    color: white;
}

.navbar-default.affix .navbar-header .navbar-brand:HOVER,
.navbar-default.affix .navbar-nav > li > a:HOVER,
.navbar-default.affix-top .navbar-header .navbar-brand:HOVER,
.navbar-default.affix-top .navbar-nav > li > a:HOVER {
    color: #3b5998;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:FOCUS,
.navbar-default .navbar-nav > .active > a:HOVER {
	color: #36465d;
	background-color: white;
}

#avatar {
	border: 3px solid #36465d;
}

.header-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding-top: 100px;
	color: white;
}

.subtitle {
	font-size: 1.5em;
	font-weight: bold;
}

.social-icon :HOVER
.social-icon-background {
	color: white;
}

.social-icon-foreground {
	color: white;
}

.social-icon-foreground:HOVER {
	color: black;
}

.social-icon-facebook {
	color: #3b5998;
}

.social-icon-twitter {
	color: rgb(29, 161, 242);
}

.social-icon-tumblr {
	color: #36465d;
}

.social-icon-mail, .social-icon-google {
	color: #d73d32;
}

section {
	padding: 100px 0;
}

.about-item {
	margin: 20px auto;
}

.github-project p {
	text-align: justify;
}

.more-arrow, .more-arrow:ACTIVE {
	margin-top: 20px;
	color: white;
}

.more-arrow:HOVER {
	font-weight: bold;
	color: #36465d;
}

.basic-info h1 {
	font-weight: bold;
}

.about-item i {
	color: #36465d;
}

.btn-xl,
.btn-xl:ACTIVE, 
.btn-xl:FOCUS {
	color: white;
	background-color: #36465d;
	border: none;
	border-radius: 20px;
}

.btn-xl:HOVER {
	background-color: #3b5998;
	color: white;
	border: none;
}

.inverse-section {
	background-color: #36465d;
	color: white;
}

.inverse-section a {
	color: #6d7c94;
}

.inverse-section a:HOVER {
	color: #97a8c1;
}

.inverse-section .contact-item,
.inverse-section .contact-item a {
	color: white;
}

.page-footer,
.page-footer p {
	min-height: 50px;
	line-height: 50px;
}
