html {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	text-align: center;
	color: black;
}

#avatar {
	border: 5px solid;
}
#main {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.subtitle {
	font-size: 1.5em;	
	font-weight: bold;
}

.social-icon :HOVER
.social-icon-background {
	color: black;
}

.social-icon-foreground {
	color: white;
}

.social-icon-facebook {
	color: #3b5998;
}

.social-icon-twitter {
	color: rgb(29, 161, 242);
}

.social-icon-tumblr {
	color: #36465d;
}

.social-icon-mail,
.social-icon-google {
	color: #d73d32;
}

.main-footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}