body, html {
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
	margin: 0;
	color: black;
}

header {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	position: relative;
	width: 100%;
	text-align: center;
}

#main-nav {
	background-color: transparent;
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-bottom-width: 2px;
}

#main-nav.affix {
	background-color: white;
	border-bottom-color: ligth-grey;
	border-bottom-width: white;
}

.navbar-default.affix-top .navbar-header .navbar-brand, 
.navbar-default.affix-top .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

.navbar-default.affix-top .navbar-header .navbar-brand:HOVER,
.navbar-default.affix-top .navbar-nav > li > a:HOVER {
    color: gray;
}

#avatar {
	border: 5px solid;
}

.header-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.subtitle {
	font-size: 1.5em;
	font-weight: bold;
}

.social-icon :HOVER
.social-icon-background {
	color: black;
}

.social-icon-foreground {
	color: white;
}

.social-icon-facebook {
	color: #3b5998;
}

.social-icon-twitter {
	color: rgb(29, 161, 242);
}

.social-icon-tumblr {
	color: #36465d;
}

.social-icon-mail, .social-icon-google {
	color: #d73d32;
}

section {
	padding: 100px 0;
}

.about-item {
	margin: 20px auto;
}

.main-footer {
	width: 100%;
}